<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure </h1>
    <p>Cupcake ipsum dolor. Sit amet cookie fruitcake topping cupcake. Sweet roll jelly-o cake sweet roll danish ice cream. Chocolate cake chocolate cake gummies cotton candy halvah soufflé. Halvah gummi bears cotton candy gummies jujubes tart pastry cake. Tiramisu chocolate cake jelly oat cake sweet roll cupcake chocolate bar. Pie lemon drops powder. Cheesecake sweet roll tart brownie powder. Jujubes jujubes icing fruitcake jelly-o lemon drops soufflé halvah soufflé. Lemon drops apple pie bear claw apple pie cake caramels sweet. Gummi bears chupa chups sweet topping marshmallow pie. Sweet icing jelly beans tart caramels wafer jujubes.</p>
    
  </div>

</div>